<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157401583203-rla39c882673n4b3cgqjl80bke62qebk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157401583203-rla39c882673n4b3cgqjl80bke62qebk</string>
	<key>API_KEY</key>
	<string>AIzaSyCF4ctv7WVXz00lSqXWo-gMMu5pnBb5sxU</string>
	<key>GCM_SENDER_ID</key>
	<string>157401583203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.filmUygulamasi</string>
	<key>PROJECT_ID</key>
	<string>movieappfirebase-f4baf</string>
	<key>STORAGE_BUCKET</key>
	<string>movieappfirebase-f4baf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157401583203:ios:0bedb95795d3ad2ef7f256</string>
</dict>
</plist>